<f:layout name="Default" />

<f:section name="Content">
    <div id="wrapper">
        <h2>Minis</h2>
        <input id="miniData" type="hidden" value="{minis}"/>
        
        <input type="text" v-model="filterText"/>
        <div id="miniList0" class="dragBox" @dragover.prevent @drop="drop">
            <mini v-for="mini in getMinisByList(0, true)" :key="mini.uid" :mini="mini"></mini>
        </div>

        <div id="minisList1" class="dragBox" @dragover.prevent @drop="drop">
            <mini v-for="mini in getMinisByList(1)" :key="mini.uid" :mini="mini"></mini>
        </div>
    </div>
</f:section>
